<div class="grid-container">
  <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card style="text-align: center">
        <mat-card-title>
          <h1>404 NOT FOUND</h1>
        </mat-card-title>
        <mat-card-content>
          <p>try to back home and start it over again</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button routerLink="/">Way home</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
