<div class="grid-container">
  <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Welcome to Natlex test app</mat-card-title>
        <mat-card-subtitle>version 0.1b</mat-card-subtitle>
        <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cumque reprehenderit<br>
          repudiandae sit voluptatum. Alias aperiam consequuntur, delectus eum fuga nisi nulla velit voluptatum!
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
