<div class="grid-container">
  <app-selector (SelectChartType)="changeChartType($event)"></app-selector>
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        Combined sensor data
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <highcharts-chart
        [Highcharts]="highcharts"
        [options]="chartOptions"
        [(update)]="updateFlag"
        style="width: 100%; height: 400px; display: block;"
      ></highcharts-chart>
    </mat-card-content>
  </mat-card>
</div>
